# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [3]:
ruta = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(ruta, sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [30]:
chipo["item_price"].max

<bound method Series.max of 0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object>

In [ ]:
chipo["item_price"] = item_price / quantity #calcular precio por unidad

In [33]:
chipo.loc[chipo.loc[:,"item_price"] == chipo["item_price"].max(),:]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 4. How many products cost more than $10.00?

In [31]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '')
chipo['item_price'] = chipo['item_price'].astype(float)

In [32]:
np.count_nonzero(chipo.item_price>10.00)

1130

In [8]:
prices = []

for idx, row in chipo.iterrows():
    prices.append(float(row.loc["item_price"][1:]))

chipo.loc[:, "item_price"] = prices 
chipo

TypeError: 'float' object is not subscriptable

In [10]:
chipo.loc[:, "item_price"].replace("$", "")

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

Extra: CuÃ¡ntos pedidos se han hecho con un producto de mÃ¡s de 10$

In [14]:
chipo.loc[:, "item_price"] = chipo.loc[:, "item_price"].replace("$", "").astype(float)

In [15]:
chipo.loc[:, "item_price"]

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [17]:
def suma(x):
    return x+3

In [21]:
multi = lambda x: x*4 #es una forma de hacer funciones en una linea

In [22]:
multi (4)

16

In [23]:
suma = lambda x,y: x+y

In [24]:
suma(3,4)

7

In [29]:
#f = lambda  #apply lambda siempre a series
chipo.loc[:, "item_price"].apply(lambda x: x+1)

0        3.39
1        4.39
2        4.39
3        3.39
4       17.98
        ...
4617    12.75
4618    12.75
4619    12.25
4620     9.75
4621     9.75
Name: item_price, Length: 4622, dtype: float64

In [32]:
precio_mercado = 8.35

def comparator(x):
    numero = float(x[1:])
    if numero < precio_mercado:
        return "barato"
    elif numero == precio_mercado:
        return "medio"
    else:
        return "caro"
    
chipo.loc[:, "item_price"].apply(comparator)

TypeError: 'float' object is not subscriptable

In [ ]:
np.count

### Step 5. What is the price of each item? Get only item_name and unit_price

In [ ]:
# Crea una nueva columna llamada unit_price

In [33]:
chipo1 = chipo.groupby(by ="item_name")[["item_price"]].min().reset_index()
chipo1

                                item_name  item_price
0                       6 Pack Soft Drink        6.49
1                           Barbacoa Bowl        8.69
2                        Barbacoa Burrito        8.69
3                   Barbacoa Crispy Tacos        8.99
4                     Barbacoa Salad Bowl        9.39
5                     Barbacoa Soft Tacos        8.99
6                           Bottled Water        1.09
7                                    Bowl        7.40
8                                 Burrito        7.40
9                             Canned Soda        1.09
10                      Canned Soft Drink        1.25
11                          Carnitas Bowl        8.99
12                       Carnitas Burrito        8.69
13                  Carnitas Crispy Tacos        8.99
14                         Carnitas Salad        8.99
15                    Carnitas Salad Bowl        9.39
16                    Carnitas Soft Tacos        8.99
17                           Chicken Bowl        8.19
18                        Chicken Burrito        8.19
19                   Chicken Crispy Tacos        8.49
20                          Chicken Salad        8.19
21                     Chicken Salad Bowl        8.75
22                     Chicken Soft Tacos        8.49
23                                  Chips        1.99
24           Chips and Fresh Tomato Salsa        2.29
25                    Chips and Guacamole        3.89
26      Chips and Mild Fresh Tomato Salsa        3.00
27     Chips and Roasted Chili Corn Salsa        2.95
28     Chips and Roasted Chili-Corn Salsa        2.39
29  Chips and Tomatillo Green Chili Salsa        2.95
30    Chips and Tomatillo Red Chili Salsa        2.95
31  Chips and Tomatillo-Green Chili Salsa        2.39
32    Chips and Tomatillo-Red Chili Salsa        2.39
33                           Crispy Tacos        7.40
34                                   Izze        3.39
35                       Nantucket Nectar        3.39
36                                  Salad        7.40
37                          Side of Chips        1.69
38                             Steak Bowl        8.69
39                          Steak Burrito        8.69
40                     Steak Crispy Tacos        8.69
41                            Steak Salad        8.69
42                       Steak Salad Bowl        9.39
43                       Steak Soft Tacos        8.99
44                            Veggie Bowl        8.49
45                         Veggie Burrito        8.49
46                    Veggie Crispy Tacos        8.49
47                           Veggie Salad        8.49
48                      Veggie Salad Bowl        8.75
49                      Veggie Soft Tacos        8.49

### Step 6. Sort by the name of the item

In [34]:
chipo.sort_values(by = "item_name",ascending=True).reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price
0,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
1,148,1,6 Pack Soft Drink,[Diet Coke],6.49
2,749,1,6 Pack Soft Drink,[Coke],6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],6.49
4,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [36]:
liste = np.where(chipo.item_price == chipo.item_price.max(),chipo.quantity,0)
for i in liste:
    if i!=0:
        print(i)

15

In [35]:
chipo.loc[:, "item_price"] = chipo.loc[:, "item_price"/ chipo.loc[:,"quantity"]] #transformar a float

TypeError: ufunc 'divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [38]:
veces = np.count_nonzero(chipo.item_name == "Veggie Salad Bowl")
print(veces)

18

In [36]:
ventas = pd.DataFrame({
    "tienda":["Madrid", "Madrid", "Valencia", "Sevilla", "Madrid", "Valencia", "Sevilla", "Sevilla", "Madrid"],
    "ventas": [1000, 500, 1000, 50, 2000, 3000, 10,100,800],
    "categoria": [2,1,1,1,2,2,1,1,2],
    "prod": [100,50,80,10,2,4,1,8,2]
})

ventas.groupby(["tienda", "categoria"])[["ventas"]].sum().reset_index()

     tienda  categoria  ventas
0    Madrid          1     500
1    Madrid          2    3800
2   Sevilla          1     160
3  Valencia          1    1000
4  Valencia          2    3000

In [ ]:
chipo.loc[chipo.loc[:,"item_name"].isin(max_names),:].groupby("item")

### Step 9. How many times did someone order more than one Canned Soda?

In [39]:
otre = np.count_nonzero((chipo.item_name == "Canned Soda") & (chipo.quantity > 1))
print(otre)

20

Extra

In [ ]:
# 1Âº Filtrar con una mÃ¡scara: chipo[chipo["item_name"] == "Canned Soda"]
# 2Âº Agrupar las orders y canned sodas sumando las cantitades totales .groupby(['order_id','item_name'], as_index= False)
# 3Âº Quiero sumar solo la columna de quantity [['quantity']].sum()