# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown

Analisis de inversion en medios digitales durante eventos de alto trafico

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown

Los teletones son eventos benéficos de recaudación de fondos a favor de una causa social que tienen una duración de entre 3 y 6 horas. 
El evento se transmite por televisión y cuenta con el apoyo de influencers y celebridades. Para maximizar la recaudación de fondos, existe una campaña digital de un mes previo al evento y una semana posterior al mismo. Usualmente, como cierre del evento, se sortea un coche que es donado. El Análisis de Datos Exploratorios (EDA) consiste en analizar los tres últimos teletones y establecer aprendizajes sobre cómo invertir de manera más eficiente en medios digitales para el próximo evento.

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Puede que tengas más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [ ]:
# Escribe tu hipótesis principal en Markdown

Hipótesis 1: Enfocarse en la optimización de la pauta por alcance al inicio y cambiarla a conversión web días antes y después del evento es lo más eficiente para la adquisición de donantes digitales.

In [ ]:
# Escribe más hipótesis si las hubiera en Markdown

Hipótesis 2: El quilibrio entre anuncios que muestren el coche que se va a sortear y programas sociales es clave para aumentar el volumen de donaciones.

Hipótesis 3: El evento de alto tráfico web representa una oportunidad para probar nuevas audiencias que no funcionan bien en la publicidad regular.

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una breve descripción del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [ ]:
# describe la fuente de tus datos e incluye los links en Markdown

La organización me facilitó datos transaccionales de los últimos 3 teletones de un pais con información sobre la frecuencia de donación (única, mensual), monto, fecha, hora y UTM (fuente de tráfico, contenido y audiencia). Fuente: plataforma e-commerce Afrus

Tambien tengo informacion de trafico, clics, visitas a la web de la cuenta en Facebook, Google Ads y Google Analytics.

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [ ]:
# Siguiente dataset...

In [4]:
import pandas as pd

df = pd.read_csv("Datos_EDA.csv", encoding="latin1")

In [5]:
df

,Facebook,Google,Paid Media,CPA,CPA solo pledge,Dia,Year,Fecha,Semana,Dia.1,Year.1,Donación única,Nueva recurrencia mensual,Total donaciones,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,$56,$253,$308,$308,$0,-19.0,2024,1-Apr,14.0,-19.0,2024.0,1.0,NaN,1.0,NaN,NaN,NaN,semana santa fin marzo
1,$52,$293,$346,$173,$346,-18.0,2024,2-Apr,14.0,-18.0,2024.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN
2,$50,$236,$287,$143,$0,-17.0,2024,3-Apr,14.0,-17.0,2024.0,2.0,NaN,2.0,NaN,NaN,NaN,21 abril - teleton
3,$54,$234,$288,$96,$288,-16.0,2024,5-Apr,14.0,-16.0,2024.0,2.0,1.0,3.0,NaN,NaN,NaN,1-20 pre campana
4,$97,$126,$222,$74,$74,-15.0,2024,6-Apr,14.0,-15.0,2024.0,NaN,3.0,3.0,NaN,NaN,NaN,28 sorteo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN